{% extends 'base.html.twig' %}

{% block title %}Pixel Adventure{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <div class="preloader">
        <div class="headphones">
            <div class="headphones__logo">
                <img src="{{ asset('assets/img/loader/headset.png') }}" width="75">
            </div>
            <p class="overflow-text">Pour avoir une meilleure expérience </br>utilise ton casque</p>
        </div>

        <div class="intro-container">
            <div id="octagon" class="octagon-click-hold-container general-octagon-container" data-state="off">
                <div class="octagon-svg-shape intro-click-hold">
                    <svg class="octagon-path" data-name="Layer 1" 
                        xmlns="http://www.w3.org/2000/svg" 
                        viewBox="-2 -2 163 163">
                        <path class="cls-1" d="M79.73.35a15.94,15.94,0,0,1,6,1.2l44.89,18.53a16,16,0,0,1,8.63,8.61l18.63,44.84a16,16,0,0,1,0,12.19l-18.54,44.89a16,16,0,0,1-8.61,8.63L85.91,157.88a16,16,0,0,1-12.2,0L28.83,139.36a16,16,0,0,1-8.63-8.61L1.56,85.91a16,16,0,0,1,0-12.19L20.08,28.83a16,16,0,0,1,8.61-8.63L73.54,1.56A16,16,0,0,1,79.67.35h.06"/>
                    </svg>
                </div>

                <div class="octagon-svg-shape intro-click-hold-drawer">
                    <svg class="octagon-path" data-name="Layer 1" 
                        xmlns="http://www.w3.org/2000/svg" 
                        viewBox="-2 -2 163 163">
                        <path class="cls-2" d="M79.73.35a15.94,15.94,0,0,1,6,1.2l44.89,18.53a16,16,0,0,1,8.63,8.61l18.63,44.84a16,16,0,0,1,0,12.19l-18.54,44.89a16,16,0,0,1-8.61,8.63L85.91,157.88a16,16,0,0,1-12.2,0L28.83,139.36a16,16,0,0,1-8.63-8.61L1.56,85.91a16,16,0,0,1,0-12.19L20.08,28.83a16,16,0,0,1,8.61-8.63L73.54,1.56A16,16,0,0,1,79.67.35h.06"/>
                    </svg>
                </div>
            </div>

            <div class="intro-descriptor">
                <h3 class="overflow-text"><span>Cliquez &amp; maintenez</span> <span>à tout moment</span> <span>pour explorer le site.</span></h3>
            </div>
        </div>

    </div>

    <div class="index__container">
        <div class="synthwave">

            <!-- Navbar -->
            <div class="navbar__container">
                <div class="navbar">
                    <!-- Logo name -->
                    <a href="{{ path('index') }}" class="logo-parent">
                        <img src="{{ asset('assets/img/home/logo-name.png') }}" width="225" class="logo-child">
                    </a>
                    <!-- Sound -->
                    <a class="sound-button">
                        <div class="sound-wave">
                            <i class="bar"></i>
                            <i class="bar"></i>
                            <i class="bar"></i>
                            <i class="bar"></i>
                            <i class="bar"></i>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Logo -->
            <div class="adventure"></div>

            <footer class="footer">
                <aside class="sidebar sidebar--left">
                    <div class="sidebar__social">
                        <div class="contact-wrapper">
                            <a class="contact-button">
                                <i class="fas fa-pen"></i>
                            </a>
                            <span class="line"></span>
                            <h6>Me contacter</h6>
                        </div>

                        <ul>
                            <li class="sidebar__account"><a href="https://twitter.com/" target="_blank"><svg class="icon" id="twitter" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 612"><path d="M612 116.258c-22.525 9.98-46.694 16.75-72.088 19.772 25.93-15.527 45.777-40.155 55.184-69.41-24.322 14.378-51.17 24.82-79.775 30.48-22.906-24.438-55.49-39.66-91.63-39.66-69.333 0-125.55 56.218-125.55 125.514 0 9.828 1.11 19.427 3.25 28.606-104.325-5.24-196.834-55.223-258.75-131.174-10.822 18.51-16.98 40.078-16.98 63.1 0 43.56 22.182 81.994 55.836 104.48-20.575-.688-39.926-6.348-56.867-15.756v1.568c0 60.806 43.29 111.554 100.692 123.104-10.517 2.83-21.607 4.398-33.08 4.398-8.107 0-15.947-.803-23.634-2.333 15.985 49.907 62.336 86.2 117.253 87.194-42.946 33.655-97.098 53.656-155.915 53.656-10.134 0-20.116-.612-29.944-1.72 55.568 35.68 121.537 56.484 192.44 56.484 230.947 0 357.187-191.29 357.187-357.188l-.42-16.253C573.87 163.525 595.21 141.42 612 116.257z" fill="#b0b2c3"></path></svg></a></li>
                            <li class="sidebar__account"><a href="http://www.linkedin.com" target="_blank"><svg class="icon" id="linkedin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 430.117 430.117"><path d="M430.117 261.543V420.56H337.93V272.193c0-37.27-13.335-62.707-46.704-62.707-25.473 0-40.632 17.142-47.3 33.724-2.433 5.928-3.06 14.18-3.06 22.477V420.56H148.65s1.242-251.285 0-277.32h92.21v39.31c-.187.293-.43.61-.606.895h.606v-.896c12.25-18.87 34.13-45.825 83.102-45.825 60.673 0 106.157 39.636 106.157 124.818zM52.183 9.558C20.635 9.558 0 30.25 0 57.463c0 26.62 20.038 47.94 50.96 47.94h.615c32.16 0 52.16-21.317 52.16-47.94-.607-27.212-20-47.905-51.552-47.905zM5.477 420.56H97.66V143.24H5.478v277.32z" fill="#b0b2c3"></path></svg></a></li>
                            <li class="sidebar__account"><a href="http://www.github.com/" target="_blank"><svg class="icon" id="github" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 438.549 438.549"><path d="M409.132 114.573c-19.608-33.596-46.205-60.194-79.798-79.8C295.736 15.166 259.057 5.365 219.27 5.365c-39.78 0-76.47 9.804-110.062 29.408-33.596 19.605-60.192 46.204-79.8 79.8C9.803 148.168 0 184.853 0 224.63c0 47.78 13.94 90.745 41.827 128.906 27.884 38.164 63.906 64.572 108.063 79.227 5.14.954 8.945.283 11.42-1.996 2.474-2.282 3.71-5.14 3.71-8.562 0-.57-.05-5.708-.144-15.417-.098-9.71-.144-18.18-.144-25.406l-6.567 1.136c-4.187.767-9.47 1.092-15.846 1-6.375-.09-12.992-.757-19.843-2-6.854-1.23-13.23-4.085-19.13-8.558-5.898-4.473-10.085-10.328-12.56-17.556l-2.855-6.57c-1.903-4.374-4.9-9.233-8.992-14.56-4.093-5.33-8.232-8.944-12.42-10.847l-1.998-1.43c-1.332-.952-2.568-2.1-3.71-3.43-1.143-1.33-1.998-2.663-2.57-3.997-.57-1.335-.097-2.43 1.428-3.29 1.525-.858 4.28-1.275 8.28-1.275l5.708.853c3.807.763 8.516 3.042 14.133 6.85 5.615 3.807 10.23 8.755 13.847 14.843 4.38 7.807 9.657 13.755 15.846 17.848 6.184 4.093 12.42 6.136 18.7 6.136 6.28 0 11.703-.476 16.273-1.423 4.565-.95 8.848-2.382 12.847-4.284 1.713-12.758 6.377-22.56 13.988-29.41-10.847-1.14-20.6-2.857-29.263-5.14-8.658-2.286-17.605-5.996-26.835-11.14-9.235-5.137-16.896-11.516-22.985-19.126-6.09-7.614-11.088-17.61-14.987-29.98-3.9-12.373-5.852-26.647-5.852-42.825 0-23.035 7.52-42.637 22.557-58.817-7.044-17.318-6.38-36.732 1.997-58.24 5.52-1.715 13.706-.428 24.554 3.853 10.85 4.284 18.794 7.953 23.84 10.995 5.046 3.04 9.09 5.618 12.135 7.708 17.706-4.947 35.977-7.42 54.82-7.42s37.116 2.473 54.822 7.42l10.85-6.85c7.418-4.57 16.18-8.757 26.26-12.564 10.09-3.806 17.803-4.854 23.135-3.14 8.562 21.51 9.325 40.923 2.28 58.24 15.035 16.18 22.558 35.788 22.558 58.818 0 16.178-1.958 30.497-5.853 42.966-3.9 12.47-8.94 22.457-15.125 29.98-6.19 7.52-13.9 13.85-23.13 18.985-9.233 5.14-18.183 8.85-26.84 11.135-8.663 2.286-18.416 4.004-29.264 5.146 9.894 8.563 14.842 22.078 14.842 40.54v60.237c0 3.422 1.19 6.28 3.572 8.562 2.38 2.278 6.136 2.95 11.276 1.994 44.163-14.653 80.185-41.062 108.068-79.226 27.88-38.16 41.826-81.126 41.826-128.906-.01-39.77-9.818-76.454-29.414-110.05z" fill="#b0b2c3"></path></svg></a></li>
                            <li class="sidebar__account"><a href="https://codepen.io/" target="_blank"><svg class="icon" id="codepen" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><path fill="#b0b2c3" d="M252.1 85.7c0-.2-.1-.3-.1-.5-.1-.3-.1-.6-.2-.9 0-.2-.1-.3-.2-.5-.1-.3-.2-.5-.3-.8-.1-.2-.2-.4-.2-.5-.1-.2-.2-.5-.4-.7-.1-.2-.2-.3-.3-.5-.1-.2-.3-.4-.5-.7-.1-.2-.2-.3-.4-.5s-.3-.4-.5-.6l-.4-.4c-.2-.2-.4-.3-.6-.5-.2-.1-.3-.3-.5-.4-.1 0-.1-.1-.2-.1L132.8 1.8c-3.6-2.4-8.3-2.4-11.9 0L6.3 78.2c-.1 0-.1.1-.2.1-.2.1-.3.2-.5.4s-.4.3-.6.5c-.2.1-.3.3-.4.4-.2.2-.4.4-.5.6-.1.2-.3.3-.4.5-.2.2-.3.4-.5.7-.1.2-.2.3-.3.5-.1.2-.3.5-.4.7-.1.2-.2.3-.2.5-.1.3-.2.5-.3.8 0 .1 0 .3-.1.5-.1.3-.1.6-.2.9 0 .2-.1.3-.1.5-.1.5-.1.9-.1 1.4v76.4c0 .5 0 .9.1 1.4 0 .2.1.3.1.5.1.3.1.6.2.9 0 .2.1.3.2.5.1.3.2.5.3.8.1.2.2.4.2.5.1.2.2.5.4.7.1.2.2.3.3.5.1.2.3.4.5.7.1.2.2.3.4.5s.3.4.5.6l.4.4c.2.2.4.4.6.5.2.1.3.3.5.4.1 0 .1.1.2.1L120.9 249c1.8 1.2 3.9 1.8 6 1.8s4.2-.6 6-1.8l114.5-76.4c.1 0 .1-.1.2-.1.2-.1.3-.2.5-.4s.4-.3.6-.5l.4-.4c.2-.2.4-.4.5-.6.1-.2.3-.3.4-.5.2-.2.3-.4.5-.7.1-.2.2-.3.3-.5.1-.2.3-.5.4-.7.1-.2.2-.3.2-.5.1-.3.2-.5.3-.8.1-.2.1-.3.2-.5.1-.3.1-.6.2-.9 0-.2.1-.3.1-.5.1-.5.1-.9.1-1.4V87.1c-.1-.4-.2-.9-.2-1.4zM137.6 30.9L222 87.1l-37.7 25.2-46.7-31.2V30.9zm-21.5 0v50.2l-46.7 31.2-37.7-25.2 84.4-56.2zm-93 76.4l26.9 18-26.9 18v-36zm93 112.4l-84.4-56.3 37.7-25.2 46.7 31.2v50.3zm10.8-68.9l-38.1-25.5 38.1-25.5 38.1 25.5-38.1 25.5zm10.7 68.9v-50.2l46.7-31.2 37.7 25.2-84.4 56.2zm93-76.4l-26.9-18 26.9-18v36z"></path></svg></a></li>
                        </ul>
                    </div>
                </aside>
                {# <aside class="sidebar sidebar--right sidebar--linked sidebar--primary">
                    <a href="" class="sidebar__link">
                        <span class="sidebar__label">Écosystème</span>
                    </a>
                </aside> #}
                <nav class="footer__nav sidebar sidebar--right">
                    <div class="sidebar__text">
                        <a href="{{ path('index') }}" class="footer__node active">Home</a>
                        <a href="{{ path('about') }}" class="footer__node">About Me</a>
                        <a href="{{ path('work') }}" class="footer__node">Work</a>
                        <a href="{{ path('blog') }}" class="footer__node">Blog</a>
                    </div>
                </nav>
            </footer>

            <!-- Cookie -->
            <div class="cookie-overlay">
                <img src="{{ asset('assets/img/home/cookie.png') }}" width="25px">
                <h3 class="cookie-text">This website use 
                    <a href="/cookie-policy" target="_blank" class="cookie-link">cookies</a>
                </h3>
                <a href="#" class="cookie-confirmation">OK</a>
            </div>

        </div>
    </div>

    <!-- Custom Mouse Cursor -->
    <div class="cursor cursor-a"></div>
    <div class="cursor cursor-b">
        <div class="cursor-v"></div>
        <div class="badge">
            <h1 class="text-cursor">Click & Hold</h1>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/three.js') }}"></script>
    <script src="{{ asset('js/simplex-noise.js') }}"></script>
    <script src="{{ asset('js/lettering.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
    <script src="{{ asset('js/drawSVGPlugin.min.js') }}"></script>

    <script src="{{ asset('js/synthwave.js') }}"></script>
    <script src="{{ asset('js/useless.js') }}"></script>
    
    <script>
        $(document).ready(function () {
            if ($(window).width() <= 991) {
                $('.cursor-a').remove();
            }
        });
        $(document).on({
            mouseenter: function () {
                $('.text-cursor').css('display', 'block');
            },
            mouseleave: function () {
                $('.text-cursor').css('display', 'none');
            }
        }, '.intro-click-hold-drawer');

        $(function () {
            $(".text-cursor").lettering();
        });

        if ($(window).width() >= 991) {
            $(document).mousemove(function (e) {
                $('.cursor')
                    .eq(0)
                    .css({left: e.clientX, top: e.clientY});
                setTimeout(function () {
                    $('.cursor')
                        .eq(1)
                        .css({left: e.clientX, top: e.clientY});
                }, 100);
            })

            $(document).on("mousemove", function (e) {
                mouseX = e.pageX;
                mouseY = e.pageY;
            });
            $('.intro-click-hold-drawer').mousedown(() => {
                $('.cursor-v').css('transform', 'scale(0.7)');
                $('.text-cursor').fadeOut(300);
            });
            $('.intro-click-hold-drawer').mouseup(() => {
                $('.cursor-v').css('transform', '');
                $('.text-cursor').fadeIn(300);
            });
            $("a").on("mouseenter", function () {
                $('.cursor-a').addClass("active");
                $('.cursor-v').addClass("active");
            });
            $("a").on("mouseleave", function () {
                $('.cursor-a').removeClass("active");
                $('.cursor-v').removeClass("active");
            });
        }

        //Magnetic Logo Effect
        if ($(window).width() >= 991) {
            $('.logo-parent').mouseleave(function (e) {
                TweenMax.to(this, 0.6, {
                    height: 180,
                    width: 180
                });
                TweenMax.to('.logo-child', 0.3, {
                    scale: 1,
                    x: 0,
                    y: 0
                });
            });

            $('.logo-parent').mouseenter(function (e) {
                TweenMax.to(this, 0.3, {
                    height: 180,
                    width: 180
                });
                TweenMax.to('.logo-child', 0.3, {scale: 1.1});
            });

            $('.logo-parent').mousemove(function (e) {
                callParallax(e);
            });

            function callParallax(e) {
                parallaxIt(e, '.logo-child', 60);
            }

            function parallaxIt(e, target, movement) {
                var $this = $('.logo-parent');
                var relX = e.pageX - $this.offset().left;
                var relY = e.pageY - $this.offset().top;

                TweenMax.to(target, 0.3, {
                    x: (relX - $this.width() / 2) / $this.width() * movement,
                    y: (relY - $this.height() / 2) / $this.height() * movement,
                    ease: Power2.easeOut
                });
            }
        }

        //Page Transition Delay
        $('.container-close, .container-arrow-right').click(function (e) {
            e.preventDefault();
            var linkUrl = $(this).attr('href');
            setTimeout(function (url) {
                window.location = url;
            }, 800, linkUrl);
        });

        //Smooth Scroll
        if (window.addEventListener) 
            window.addEventListener('DOMMouseScroll', wheel, false);
        window.onmousewheel = document.onmousewheel = wheel;

        function wheel(event) {
            var delta = 0;
            if (event.wheelDelta) 
                delta = event.wheelDelta / 40; //controls the scroll wheel range/speed
            else if (event.detail) 
                delta = -event.detail / 40;
            
            handle(delta);
            //if (event.preventDefault) 
            //    event.preventDefault();
            //event.returnValue = false;
        }

        var goUp = true;
        var end = null;
        var interval = null;

        function handle(delta) {
            var animationInterval = 20; //controls the scroll animation after scroll is done
            var scrollSpeed = 20; //controls the scroll animation after scroll is done

            if (end == null) {
                end = $(window).scrollTop();
            }
            end -= 20 * delta;
            goUp = delta > 0;

            if (interval == null) {
                interval = setInterval(function () {
                    var scrollTop = $(window).scrollTop();
                    var step = Math.round((end - scrollTop) / scrollSpeed);
                    if (scrollTop <= 0 || scrollTop >= $(window).prop("scrollHeight") - $(window).height() || goUp && step > -1 || !goUp && step < 1) {
                        clearInterval(interval);
                        interval = null;
                        end = null;
                    }
                    $(window).scrollTop(scrollTop + step);
                }, animationInterval);
            }
        }

        // side menu
        $('.sidebar__text a').hover(function() {
            $('.sidebar__text a').removeClass("active");
            $(this).addClass("active");
        })

        // sound
        $('.sound-button').on("click", function() {
            $(this).toggleClass("off");
        })
    </script>

    <script>
        var introClickHoldActivated = 0, introClickHold = 0;
        var tl = new TimelineMax();

        function setInitialSVGPaths() {
            TweenMax.to(".intro-click-hold-drawer path", .01, {
                drawSVG: "0%"
            }),
            TweenMax.to(".intro-click-hold path", .01, {
                drawSVG: "0%"
            }),
            TweenMax.to(".adventure", .01, {
                scale: "0"
            })
        }

        function introClickHoldActivate() {
            introClickHoldActivated = 1;
            TweenLite.set("#octagon",{transformOrigin:"center"})
            $('.cursor-v').css('transform', '');
            $(".octagon-click-hold-container").attr("data-state", "complete");
            tl
            .fromTo("#octagon path", 2, {fill:'rgb(46, 167, 236, 0)'}, {fill:'rgb(46, 167, 236, 1)'})
            .to("#octagon", 1.3, {rotation:89, fill:'rgb(46, 167, 236)', ease: Expo.easeInOut}, "-=2")
            .to("#octagon", 1, {scale:0.03})
            .to($(".intro-container"), 0.3, {autoAlpha:0}, "-=0.9")
            .to($(".preloader"), 0.5, {display:'none'}, "-=0.7")
            .to($(".index__container"), 1, {autoAlpha:1, display:'block'})
            .to($(".adventure"), 0.4, {scale:1, ease: Power0.easeInOut})
            .fromTo($(".sound-button"), 0.3, {autoAlpha:0, y:-30}, {autoAlpha:1, y:0})
            .fromTo($(".navbar-container"), 0.3, {autoAlpha:0, y:-30}, {autoAlpha:1, y:0}, '-=0.3')
            .fromTo($(".sidebar--left"), 0.3, {autoAlpha:0, x:-30}, {autoAlpha:1, x:0})
            .fromTo($(".sidebar--right"), 0.3, {autoAlpha:0, x:30}, {autoAlpha:1, x:0}, '-=0.3');
        }

        $(".octagon-click-hold-container").on("mousedown", function(t) {
            var e = introClickHold += 1;
            TweenMax.to(".intro-click-hold-drawer path", 1.8, {
                drawSVG: "100%",
                ease: Power2.easeInOut
            }),
            setTimeout(function() {
                e == introClickHold && (introClickHoldActivate(),
                projectClickHold = !0)
            }, 1400)
        })
        $(".octagon-click-hold-container").on("mouseup", function(t) {
            0 == introClickHoldActivated && (
            TweenMax.to(".intro-click-hold-drawer path", .95, {
                drawSVG: "0%",
                ease: Power2.easeOut
            }),
            introClickHold += 1)
        })

        const preloader = () => {
                tl.to($(".headphones"), 1, {autoAlpha:0})
                .to($(".intro-container"), 1, {autoAlpha:1})
                .to($(".intro-click-hold path"), 0.6, {drawSVG: "100%", ease: Power0.easeInOut}, '-=0.9')
                .fromTo($(".intro-descriptor span:nth-child(1)"), 0.3, {autoAlpha:0}, {autoAlpha:1}, '-=1.5')
                .fromTo($(".intro-descriptor span:nth-child(2)"), 0.3, {autoAlpha:0}, {autoAlpha:1}, '-=1.2')
                .fromTo($(".intro-descriptor span:nth-child(3)"), 0.3, {autoAlpha:0}, {autoAlpha:1}, '-=0.9');
                setTimeout(() => {
                    cursorHide();                
                }, 3000);
        }

        const cursorHide = () => {
            $('.cursor-a').css({'visibility': 'visible', 'display': 'block'});
            $('.cursor-b').css({'visibility': 'visible', 'display': 'block'});
            $('.badge').css({'visibility': 'visible', 'display': 'block'});
        }

        setInitialSVGPaths()
        setTimeout(() => {
            preloader();                
        }, 2000);

        //Cookie Overaly Pop-up
        $.getScript("{{ asset('js/cookie.js') }}", function() {
            if (Cookies.get('notice') !== undefined) {
                $('.cookie-overlay').remove();
            }
            $('.cookie-confirmation').click(function() {
                TweenLite.fromTo($(".cookie-overlay") , 0.5, {opacity:1}, {opacity:0, y:20});
                var expireTime = new Date(new Date().getTime() + 60000 * 60 * 24 * 365 );
                Cookies.set('notice', 'shown', { expires: expireTime });
            });
        });
    </script>

    <script>
    /*
     * Replace all SVG images with inline SVG
     */

        jQuery('img.svg').each(function(){
            var $img = jQuery(this);
            var imgID = $img.attr('id');
            var imgClass = $img.attr('class');
            var imgURL = $img.attr('src');
            jQuery.get(imgURL, function(data) {
                var $svg = jQuery(data).find('svg');
                if(typeof imgID !== 'undefined') {
                    $svg = $svg.attr('id', imgID);
                }
                if(typeof imgClass !== 'undefined') {
                    $svg = $svg.attr('class', imgClass+' replaced-svg');
                }
                $svg = $svg.removeAttr('xmlns:a');
                $img.replaceWith($svg);
            }, 'xml');
        });

    </script>

    {# TweenMax.from('#text', 1, {autoAlpha:0, y: 100} ); #}

{% endblock %}